.container{
    width: 850px;
    height:800px;
    border: 10px solid black;
    margin: 30px auto;
    text-align: left;
}
.gameBoard{
    border: 2px solid black;
    width: 600px;
    height: 760px;
    margin: 20px auto 10px 20px;
    float: left;
}
.scoreBoard{
    border: 1px dotted red;
    width: 150px;
    margin: 20px;
    float: right;
    text-align: right;
}
h4, span{
    font-size: 20px;
    padding: 10px;
}